// App colors
// @param {color}
$color-text-primary: #2c3e50;
$color-background-dark: #12002b;
$color-background-default: #fff;
$color-nav-active: #42b983;
$color-button: #00bc77;
$color-feature-title: #222;
$color-border: #ccc;
$color-input-readonly-bg: #e0e0e0;
$color-input-readonly-text: #757575;

// Médias queries breakpoints
// @param {string} 
$breakpoint-medium: 920px;
$breakpoint-small: 720px;

