button {
  border-color: $color-button;
  background-color: $color-button;
  color: $color-background-default;
  font-weight: bold;
  
}

.button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.transaction-button {
  @media (min-width: $breakpoint-small) {
    width: 200px;
  }
}

.edit-button {
  padding: 10px;
}


